.form > div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    align-items: center;
}

.form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    min-width: 10rem;
}

.form input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 30rem;
    max-width: 100%;
}

.form button {
    margin-right: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 8rem;
}

.form button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.form button:active {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
