.List {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 280px;
}

.ListItem {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #521751;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.ListItem:hover,
.ListItem:active {
    background-color: #ccc;
}

.list-add {
    opacity: 0;
}

.list-add-active {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.list-remove {
    opacity: 1;
}

.list-remove-active {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
