.cart-form {
    margin: 1rem 0;
}

.cart-form label {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.cart-form input,
.cart-form textarea {
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.2rem;
    border-radius: 12px;
    border: 1px solid #ccc;
}

.cart-form input:focus,
.cart-form textarea:focus {
    outline: none;
    border-color: #230052;
}

.cart-form-invalid input,
.cart-form-invalid textarea {
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.2rem;
    border-radius: 12px;
    border: 1px solid #f52804;
}

.cart-form-invalid input:focus,
.cart-form-invalid textarea:focus {
    outline: none;
    border: 1px solid #f52804;
}