.body {
    background-color: rgba(188, 245, 240, 0.2);
    width: 100%;
    height: 100%;
    left: 0;
    min-height: 100vh;
    margin-top: 5rem;
}

.board {
    left: 0;
    width: 70%;
    height: 100%;
    margin: auto;
    min-height: 100vh;
    background-color: rgba(188, 245, 240, 0.2);
}
