.header {
    position: fixed;
    /* position: sticky; */
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    /* background-color: rgba(10, 240, 240, 0.8); */
    background-color: rgba(133, 240, 240, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 800px;
    z-index: 1;
}

.header h1 {
    font-family: "Pacifico", cursive;
    font-size: 1.7rem;
    margin-left: 2rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.header ul {
    list-style: none;
    display: inherit;
}

/* .header li {
    margin-right: 2rem;
    border: 2px solid rgb(14, 148, 148);
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(81, 204, 204);
}

.header li:hover {
    background-color: rgb(32, 145, 145);
} */

.header li {
    margin-right: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.header li:hover {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.header li:active {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
